LOGIN to HISTORY

Dear @jonhoo,

The 31 August 2006, PLAIN has replaced LOGIN, it is time to remove.

31 August 2006: RFC4616: The PLAIN Simple Authentication and Security Layer (SASL) Mechanism:
- https://datatracker.ietf.org/doc/html/rfc4616

There are now:
- July 2010: RFC5802: Salted Challenge Response Authentication Mechanism (SCRAM): SASL and GSS-API Mechanisms: https://tools.ietf.org/html/rfc5802 (SCRAM-SHA-1 and SCRAM-SHA-1-PLUS)
- July 2010: RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803
- November 2015: RFC7677: SCRAM-SHA-256 and SCRAM-SHA-256-PLUS: Simple Authentication and Security Layer (SASL) Mechanisms: https://tools.ietf.org/html/rfc7677

Soon:
- SCRAM-SHA-512(-PLUS): https://tools.ietf.org/html/draft-melnikov-scram-sha-512
- SCRAM-SHA3-512(-PLUS): https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

Linked to:
- https://github.com/jonhoo/rust-imap/issues/275

See my answer to the other two issues you filed: the path forward here is https://github.com/jonhoo/rust-imap/pull/243